body{
    text-align: center;

}


.button-container{
    display: flex;
   
    justify-content: center;
}

.btn{

    height: 200px;
    width: 200px;
    border-radius: 20%;
    border :10px solid black;
margin: 1rem;
}
.yellow{
    background-color: yellow;

}
.red{   
 background-color:red;
}
.purple{  
 background-color:purple;
}
.green{
 background-color:green;
}

.flash{    
    background-color: white;
}
.user{
    background-color: black;    
}
h1{
    text-decoration: black solid underline;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}